<html>

<head>
	<title>Register - Main Menu</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/styles/master.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<!--<script type="text/javascript" src="/scripts/mainMenu.js" defer></script>-->
	<script> var noImplementation = "Functionality has not yet been implemented";</script>
</head>

<body>

	<div class="header">
		<h1 class="primary-message">Main Menu</h1>
	</div>

	<div id="main" class="main">
		<div id="error" <% if (!locals.errorMessage || (locals.errorMessage === "")) { %> class="hidden" <% } %>>
			<h4 id="errorMessage" class="error-message">
				<% if (locals.errorMessage && (locals.errorMessage !== "")) { %>
					<%= locals.errorMessage %>
				<% } %>
			</h4>
		</div>

		<!-- TODO: Add the various action button elements -->
		<div>
			<a onclick="return displayError(noImplementation)" class="button">Start Transaction</a>
		</div>
		<br />

		<div>
			<a href="/productListings/" class="button">View Products</a>
		</div>
		<br />

		<div>
			<a id="createEmployeeButton" href="/employeeDetail/" class="button">Create Employee</a>
		</div>
		<br />

		<div>
			<a id="salesReportButton" onclick="return displayError(noImplementation)" class="button">Sales Report</a>
		</div>
		<br />

		<div>
			<a id="cashierReportButton" onclick="return displayError(noImplementation)" class="button">Cashier Report</a>
		</div>
		<br />
	</div>

	<div class="hidden">
		<input type="checkbox" id="isRefreshed" class="hidden">
		<script type="text/javascript">
			window.onunload = function() {
				const isRefreshedElement = document.getElementById("isRefreshed");

				if(!isRefreshedElement.checked) {
					isRefreshedElement.checked = true;
				} else {
					isRefreshedElement.checked = false;
					location.reload();
				}
			}
		</script>
	</div>

	<div class="footer">
		<img id="signOutImage" src="/images/Sign-Out.png" alt="Sign Out" class="footer" />
	</div>

	<% if (!locals.isElevatedUser) { %>
		<script>
			document.getElementById("createEmployeeButton").style.display = "none";
			document.getElementById("salesReportButton").style.display = "none";
			document.getElementById("cashierReportButton").style.display = "none";
		</script>
	<% } %>

</body>

</html>
